@model List<RoomBookingVM>
@{
    ViewData["Title"] = "History";
}

<hr />

<h1>Room History</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Booking Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>

                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" class="btn btn-dark"><i class="fa-solid fa-arrow-left"></i></a>