@model BookingApp_v2.Models.RoomBookingVM

@{
    ViewData["Title"] = "Create";
}

<h1>Book a room</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control datepicker" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control datepicker" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <span id="dateError" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                @if (Model.Rooms.Any())
                {
                    @Html.DropDownListFor(q => q.RoomId, new SelectList(Model.Rooms, "Value", "Text"), "Select Room", new { @class = "form-control" })
                }
                else
                {
                    <p>No available rooms for the selected date range.</p>
                }
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Submit Your Booking" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyBooking" class="btn btn-dark">My Bookings</a>
</div>



@section Scripts{
    <script>
        // Ajax stands for "Asynchronous JavaScript and XML." It allows you to make asynchronous requests to the server from a web page without reloading the entire page.
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

            $("#StartDate, #EndDate").change(function () {
                var startDate = $("#StartDate").val();
                var endDate = $("#EndDate").val();

                if (startDate && endDate) {
                    if (startDate > endDate) {
                        $("#dateError").text("Start date cannot be further in the future than the End date...");
                        return;
                    } else if (startDate < new Date().toISOString().split('T')[0]) {
                        $("#dateError").text("Start date cannot be in the past...");
                        return;
                    } else {
                        $("#dateError").text("");

                        $.ajax({
                            url: '@Url.Action("GetAvailableRooms", "RoomBooking")',
                            type: 'POST',
                            data: {
                                startDate: startDate,
                                endDate: endDate
                            },
                            success: function (data) {
                                $("#RoomId").empty();
                                if (data.length > 0) {
                                    $.each(data, function (index, item) {
                                        $("#RoomId").append($('<option></option>').val(item.value).text(item.text));
                                    });
                                } else {
                                    $("#RoomId").append($('<option disabled selected></option>').text('No available rooms'));
                                }
                            },
                            error: function () {
                                alert('An error occurred while retrieving available rooms.');
                            }
                        });
                    }
                }
            });

            $("form").submit(function (e) {
                var startDate = $("#StartDate").val();
                var endDate = $("#EndDate").val();

                if (startDate && endDate) {
                    if (startDate > endDate) {
                        e.preventDefault();
                        alert("Start date cannot be later than the End date...");
                        return;
                    }

                    var currentDate = new Date().toISOString().split('T')[0];
                    if (startDate < currentDate) {
                        e.preventDefault();
                        alert("Start date cannot be in the past...");
                        return;
                    }
                }
            });
        });



    </script>
}
